.skill__container {
  box-sizing: border-box;
  padding: 0px 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;

  /* Firefox */
  scrollbar-width: none;

  /* IE & Edge (legacy) */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge (WebKit) */
.skill__container::-webkit-scrollbar {
  display: none;
}