.light-mode {
  --primary-heading: #50aed9;
  --primary-text: #1d1a1a;
  --primary-bg-color: rgb(231, 231, 231);

  --secondary-text: #252425;
  --secondary-bg-color: #f1f1f1;

  --border-color: #100f0f35;
  --link-color: #233971;
}

.dark-mode {
  --primary-heading: #50aed9;
  --primary-text: #ffffff;
  --primary-bg-color: #151515;  

  --secondary-text: #e9e9e9;
  --secondary-bg-color: #222222;
  --border-color: #f3f3f32e;
  --link-color : #4088cc;
  --low-white : #cecece;
}

.color-red {
  --primary-heading: #de2626;
}

.color-blue {
  --primary-heading: #5432a4;
  
}
.color-green {
  --primary-heading: #25ca85;
}
.color-yellow {
  --primary-heading: #f4f746;
}


/* --exception color--- */
/* .low-white {
  color : #cecece;
} */
