
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.app__container{
  background-color: var(--primary-bg-color);
  height: 100%;
  display: flex;
  color: var(--primary-text);
}

.app__container_sidebar{
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: var(--secondary-bg-color)

}

.app__container_main-page {
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 100%;
}

