.app__container {
  background-color: var(--primary-bg-color);
  height: 100%;
  display: flex;
  color: var(--primary-text);
  box-sizing: border-box;
}

.app__container_sidebar {
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: var(--secondary-bg-color)
}

.app__container_main-page {
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .app__container {
    flex-direction: column;
    height: 100vh;
    /* Ensure full viewport height */
    overflow: hidden;
    /* Prevent body scroll */
  }

  .app__container_sidebar {
    width: 100%;
    height: auto;
    /* Allow sidebar to adapt height */
    min-width: 0;
    /* Override min-width */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .app__container_main-page {
    height: 100%;
    /* Take full height */
    overflow-y: auto;
    /* Enable scrolling HERE for the whole page content */
    padding-bottom: 80px;
    /* Space for the bottom bar + extra */
    box-sizing: border-box;
  }
}



.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}