
.listitem__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;

}

.listitem__container_a {
  font-size: 20px;;
  text-decoration: none;
  border-bottom: .01px solid #4585731b;
  cursor: pointer;
  width: 140px;
  display: block; 
  text-align: center;
  font-weight: 600;
  color: var(--primary-text);
  transition: color 0.3s ease-in-out;
  transform: 0.2s ease-in-out;
  padding-bottom: 2px;


}
.listitem__container_a_active {
  color: var(--primary-heading);
  transform: scale(1.15);
}

.listitem_i {
  padding-right: 10px;
}



/* .list-item:link {
  color: red;
}

.list-item:visited {
  color: green;
}

.list-item:hover {
  color: hotpink;
}

.list-item:active {
  color: blue;
} */