.contact__container {
  padding: 0px 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact__container_connection_message {
  text-align: center;
  margin-bottom: 20px;
}

.contact_logo_container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;

}

.contact__detail {
  display: flex;
  width: 35%;
  flex-direction: column;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: var(--secondary-heading);
  border-radius: 20px;
  border-top-right-radius: 70px;
  box-shadow: 50px -20px var(--matching-heading);
  margin-bottom: 20px;
}

.contact__detail_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}

.contact__detail_title {
  font-weight: bold;
  min-width: 100px;

}

.contact__detail_title {
  font-weight: bold;
  min-width: 100px;

}


.contact__open-mail {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contact__container {
    padding: 0 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    /* Let App handle scroll */
    padding-bottom: 20px;
    justify-content: flex-start;
    /* Don't space evenly if height is auto */
  }

  .contact_logo_container {
    flex-wrap: wrap;
    /* allow wrapping if needed */
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .contact__detail {
    width: 100%;
    /* Full width cards */
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact__detail_row {
    flex-direction: column;
    /* Stack label and value if needed, or keep row. Row looks fine usually. */
    /* Let's keep row but ensure it wraps if too long */
    flex-wrap: wrap;
  }
}