.homepage__container {
 position: relative;
  width: 100%;
  height: 100%;

}

.homepage__app {

  width: 100%;
  height: 100%;
  overflow: hidden;

}

.homepage__themechange {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 200px; /* For demo purposes */
  
 }