.experience__main {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  overflow-x: hidden;

}

.experience__container {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .experience__main {
    padding: 10px;
    /* Reduced padding */
    height: auto;
    /* Allow growth */
    overflow: visible;
    /* No internal scroll */
  }

  .experience__container {
    height: auto;
  }
}